aiodns>=1.1.1
aiohttp>=3.6.2
async-timeout>=3.0.1
attrs>=19.3.0
ccxt>=1.22.35
certifi>=2019.11.28
cffi>=1.13.2
chardet>=3.0.4
cryptography>=2.8
DateTime>=4.3
idna>=2.8
multidict>=4.7.4
numpy>=1.18.1
pandas>=1.0.0
pkg-resources>=0.0.0
pycares>=3.1.1
pycparser>=2.19
python-dateutil>=2.8.1
pytz>=2019.3
requests>=2.22.0
six>=1.14.0
urllib3>=1.25.8
yarl>=1.1.0
zope.interface>=4.7.1
